html{
    background-color:#BE3455;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: "Comic Sans MS", "Comic Sans";
}

.parent {
    width: 500px;
    margin: 0 auto;
  }
